// =============================================================
// Grid System
// =============================================================

[class^="column-"] {
  margin: $spaceSmall $spaceLarge $spaceLarge;
  @media only screen and (min-width: $firstBreakPoint) {
    float: left;
    margin: 0 5% 0 0;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.column-1 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 7.5%;
  }
}

.column-2 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 15%;
  }
}
.column-3 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 22.5%;
  }
}

.column-4 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 30%;
  }
}

.column-5 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 37.5%;
  }
}

.column-6 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 45%;
  }
}

.column-7 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 52.5%;
  }
}

.column-8 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 60%;
  }
}

.column-9 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 67.5%;
  }
}

.column-10 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 75%;
  }
}

.column-11 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 82.5%;
  }
}

.column-12 {
  @media only screen and (min-width: $firstBreakPoint) {
    width: 90%;
  }
}

.clear {
  clear: left;
}

